<div class="container mt-5">
    <h3 class="fw-bold text-secondary">📋 Bitácora de Auditoría</h3>
    <table class="table table-bordered mt-4">
        <thead>
            <tr><th>Fecha</th><th>Acción</th><th>Detalle</th></tr>
        </thead>
        <tbody>
            @* Aquí harías un SELECT simple a la tabla Bitacora *@
        </tbody>
    </table>
</div>